.item {
  position: relative;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid;
  cursor: grab;
  
  &--open {
    border-color: rgba(#FAC898, 1);
    background: rgba(#FAC898, 0.4);
  }

  &--in_progress {
    border-color: rgba(#A5DFF5, 1);
    background: rgba(#A5DFF5, 0.4);
  }

  &--done {
    border-color: rgba(#D1F5A5, 1);
    background: rgba(#D1F5A5, 0.4);
  }

  &--is_grabbing {
    cursor: grabbing;
  }
}

.item__title {
  margin: 0 0 8px 0;
  font-weight: bold;
}

.item__description {
  font-size: 14px;
  line-height: 1.4;
}

.item__titleInput {
  display: block;
  width: 100%;
  font-size: 14px;
}

.item__descriptionInput {
  display: block;
  width: 100%;
  height: 60px;
  font-size: 14px;
}

.item__select {
  margin: 0 8px 0 0;
}

.item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0 0 0;
}

.item__footerLabels {
  display: flex;
  align-items: center;
}

.item__typeLabel {
  margin: 0 8px 0 0;
  padding: 4px 8px;
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 4px;
  background: rgba(#fff, 0.5);
}

.item__priorityLabel {
  font-size: 14px;
  text-transform: capitalize;
}

.item__priorityIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: rgba(#fff, 0.5);
}

.item__priorityIcon {
  &--low {
    color: green;
  }

  &--medium {
    color: orange;
  }

  &--high {
    color: red;
  }
}

.item__actions {
  visibility: hidden;

  .item:hover & {
    visibility: visible;
  }
}

.item__editAction,
.item__deleteAction {
  margin: 0 4px;
  opacity: 0.85;
  cursor: pointer;
  transition: opacity 0.25s;

  &:hover {
    opacity: 1;
  }
}

.item__saveButton {
  margin: 16px 0 0 0;
}